<nav class="overlook">
  <h3>Collections</h3>
  <ul class="collection menu">
    <% Peak.collections.each do |collection| %>
    <li>
      <a href="#"><%= collection.name %></a>
      <ul class="graph" style="display: none;">
        <li>CPU</li>
        <li>Memory</li>
        <li>Disk I/O</li>
        <li>Network Traffic</li>
      </ul>
    </li>
    <% end %>
  </ul>

  <h3>Servers</h3>
  <ul class="servers menu">
    <% Peak.hosts.each do |host| %>
    <li>
      <% if host.the_alias.blank? %>
        <a href="/hosts/<%= host.name %>"><%= host.name %></a>
      <% else %>
        <a href="/hosts/<%= host.name %>"><%= host.the_alias %></a>
      <% end %>
    </li>
    <% end %>
  </ul>
</nav>

<div id="graphs">
  <div class="graph-container">
    <div class="controls"></div>
  </div>
</div>

<% content_for :footer do %> 
  <script type="text/javascript">
  $(function() {

    <% if Peak.current_host %>
      window.host = new Host('<%= Peak.current_host.name %>', '<%= Peak.current_host.the_alias %>');
      <% Peak.current_host.graphs.each_with_index do |graph, i| %>
        $container = $('<div id="<%= graph.dom_id %>" />');
        $('#graphs > .graph-container').append($container);
        var graph = new Graph(host, '<%= graph.graph_type.to_s %>', {
          title: '<%= graph.title %>',
          domId: '<%= graph.dom_id %>'
        });
        <% graph.data_sources.each do |ds| %>
          graph.addDataSource('<%= ds.label %>', '<%= ds.path %>', <%= ds.as_json %>);
        <% end %>
        host.addGraph(graph);
      <% end %>
    host.render();
    <% end %>
  });
  </script>
<% end %>
