<nav class="overlook">
  <h3>Collections</h3>
  <ul class="collection menu">
    <% Peak.collections.each do |collection| %>
    <li>
      <a href="#"><%= collection.name %></a>
      <ul class="graph" style="display: none;">
        <li>CPU</li>
        <li>Memory</li>
        <li>Disk I/O</li>
        <li>Network Traffic</li>
      </ul>
    </li>
    <% end %>
  </ul>

  <h3>Servers</h3>
  <ul class="servers menu">
    <% Peak.hosts.each do |host| %>
    <li>
      <a href="/hosts/<%= host.name %>"><%= host.name %></a>
    </li>
    <% end %>
  </ul>
</nav>

<div id="graphs">
  <div class="graph-container">
    <div class="controls"></div>
  </div>
</div>

<% content_for :footer do %> 
  <script type="text/javascript">
  $(function() {

    <% if Peak.current_host %>
    <% Peak.current_host.graphs.each_with_index do |graph, i| %>
      $container = $('<div id="<%= graph.dom_id %>" />');
      $('#graphs > .graph-container').append($container);
      var graph_<%= i %> = new Graph('<%= graph.type.to_s %>', {
        title: '<%= graph.title %>',
        domId: '<%= graph.dom_id %>'
      });
      <% graph.data_sources.each do |ds| %>
        graph_<%= i %>.addDataSource('<%= ds.label %>', <%= ds.as_json %>);
      <% end %>
      graph_<%= i %>.render();
    <% end %>
    <% end %>
  });
  </script>
<% end %>
